@import url("global.css");

body {
    background-color: #ff6883;
}

.main {
    text-align: center;
    padding: 50px;
}

.main h1 {
    font-size: 50px;
    margin-top: 0px;
}

.main h1 span {
    white-space: nowrap;
}

.employment-status {
    font-size: 40px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    gap: 25px;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-direction: row;
}

#status {
    background-color: black;
    padding: 0 10px;
    padding-bottom: 8px;
    white-space: pre-wrap;
}

.socials-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
    list-style: square;
    margin-left: calc(50% - 90px);
}

.social a {
    color: aliceblue;
    text-shadow: 3px 3px black;
}

.social a:hover {
    color: black;
    text-shadow: 3px 3px aliceblue;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact-background {
    top: -70px;
    position: relative;
    z-index: -50;
    margin-left: 100px;
}

@media only screen and (max-width: 1100px) {
    .employment-status {
        flex-direction: column;
        gap: 5px;
    }
}

@media only screen and (max-width: 920px) {
    .main h1 {
        font-size: 40px;
    }

    .employment-status {
        font-size: 30px;
    }

    .social {
        font-size: 25px;
    }
}

@media only screen and (max-width: 515px) {
    .main h1 {
        font-size: 30px;
    }

    #contact-background {
        visibility: hidden;
    }
}