@font-face {
    font-family: "LCD";
    src: url(../fonts/advanced_pixel_lcd-7.ttf) format('truetype');
}

@font-face {
    font-family: "PixelLarge";
    src: url(../fonts/cyrillic_pixel-7.ttf) format('truetype');
}

@font-face {
    font-family: "PixelMedium";
    src: url(../fonts/half_bold_pixel-7.ttf) format('truetype');
}

@font-face {
    font-family: "PixelSmall1";
    src: url(../fonts/Gosub.ttf) format('truetype');
}

@font-face {
    font-family: "PixelSmall2";
    src: url(../fonts/Hardpixel.OTF) format('opentype');
}

@font-face {
    font-family: "PixelBubble";
    src: url(../fonts/ice_pixel-7.ttf) format('truetype');
}

:root {
    --main-background-color: #00304e;
    --secondary-background-color: #b3e2ff;
    --header-font: "PixelBubble";
    --title-font: "PixelSmall2";
    --body-font: "PixelMedium";
    --footer-font: "PixelSmall1";
    --header-height: 80px;
    --footer-height: 80px;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: var(--header-height);
    font-family: var(--body-font);
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(249, 253, 255);
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    min-width: 100%;
    top: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0px;
    height: var(--header-height);
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 8px solid black;
    color: rgb(224, 243, 255);
    display: flex;
    background-color: var(--main-background-color);
    font-family: var(--header-font);
    font-size: 75px;
    line-height: var(--header-height);
    padding: 8px 15px 0px 15px;
    justify-content:center;
    align-items:center;
    align-content: center;
    line-height: 30px;
    gap: 50px;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
}

.main {
    font-size: 25px;
    padding: 50px 110px;
    padding-bottom: calc(var(--footer-height) + 50px);
}

.main a {
    color: #dd5100;
}

a {
    color: unset;
    text-decoration: underline;
    text-underline-offset: 1.5px;
}

b {
    color: #dd5100;
}

a:hover {
    color: red;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: var(--footer-font);
    font-size: 25px;
    height: var(--footer-height);
    color:#b3e2ff;
    width: 100%;
    background-color: rgb(0, 0, 34);
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 3px;
}

.footer p {
    color: #004d7c;
}

.footer a {
    text-decoration: none;
}

@media only screen and (max-width: 830px) {

    header {
        flex-direction: column;
        gap: 10px;
        font-size: 50px;
    }

    :root {
        --header-height: 150px;
        --footer-height: 70px;
    }

    .main {
        font-size: 25px;
    }

}

@media only screen and (max-width: 375px) {
    .footer {
        gap: 7px;
    }
}