@import url("global.css");

.body-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
    text-align: center;
}

.body-header-background-image {
    width: 100%;
    object-fit:none;
    height: 400px;
    overflow-x: hidden;
}

.gray-container {
    max-width: 1200px;
    width: 90%;
    height: 300px;
    position: absolute;
    background-color: rgba(109, 109, 109, 0.85);
    border: 8px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.gray-container #title {
    display: flex;
    justify-content:center;
    align-content: center;
    align-items: center;
    gap: 25px;
    flex-direction:row;
    flex-wrap: wrap;
}

.gray-container #title h1 {
    margin: 0;
    color: white;
    text-shadow: 5px 5px black;
    font-family: var(--body-font);
    font-size: 70px;
    margin: 10px;
    word-spacing: -20px;
    white-space: nowrap;
    line-height: 70px;
}

.gray-container p {
    margin: 0;
    color: white;
    text-shadow: 5px 5px black;
    font-family: var(--body-font);
    font-size: 30px;
}

@media only screen and (max-width: 1250px) {
    .gray-container #title {
        display: unset;
    }
}

@media only screen and (max-width: 830px) {

    .gray-container #title h1 {
        font-size: 40px;
        word-wrap:break-word;
        line-height: 40px;
    }

    .main {
        padding: 25px 25px calc(25px + var(--footer-height)) 25px;
        font-size: 25px;
    }

}

@media only screen and (max-width: 375px) {
    .footer {
        gap: 7px;
    }
}