@import url("global.css");

body {
    background-image: url("../media/stars.png");
}

.main {
    padding-left: 4vw;
    padding-right: 4vw;
}

.portfolio-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 1vw;
    align-items: center;
}

.portfolio-item {
    padding: 2vw;
    aspect-ratio: 1.167;
    width: 42vw;
    background-color: var(--main-background-color);
    color: var(--secondary-background-color);
    border: 0.5vw solid black;
    box-sizing: border-box;
}

.portfolio-item #heading {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    color: red;
    gap: 0px;
    margin-top: -2vw;
    flex-direction: column;
    margin-bottom: 0.5vw;
    line-height: 2.7vw;
}

.portfolio-item #heading #title {
    font-size: 3vw;
    word-spacing: -1.5vw;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    height: 3.3vw;
}

.portfolio-item #heading #date {
    top: 0.6vw;
    font-size: 1.5vw;
    position: relative;
    color: var(--secondary-background-color);
}

.portfolio-item #description {
    height: 8vw;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 0.5vw;
    font-size: 1.3vw;
}

.portfolio-item #body a #media {
    object-fit: cover;
    object-position: top left;
    aspect-ratio: 2;
    width: 100%;
    height: inherit;
    border: 0.2vw solid var(--secondary-background-color);
}

.end-message {
    text-align: center;
    line-height: 4vw;
    background-color: var(--main-background-color);
    border: 0.5vw solid black;
    margin: 0 3.5vw;
    height: 5vw;
    font-size: 2vw;
    box-sizing: border-box;
}

/* tablet view */
@media only screen and (max-width: 768px) {

    .main {
        padding-top: 3vw;
    }

    .portfolio-items-container {
        flex-direction: column;
        gap: 2vw;
    }

    .portfolio-item {
        width: 100%;
        border: 0.8vw solid black;
    }

    .portfolio-item #heading {
        margin-top: -0.25vw;
    }

    .portfolio-item #heading #title {
        font-size: 9vw;
        height: 10vw;
        line-height: 9vw;
        margin-bottom: 1vw;
    }

    .portfolio-item #heading #date {
        top: 0vw;
        font-size: 3.4vw;
        position: relative;
        color: var(--secondary-background-color);
    }

    .portfolio-item #body a #media {
        border: 0.5vw solid var(--secondary-background-color);
    }

    .portfolio-item #description {
        height: 13vw;
        padding-right: 0.5vw;
        font-size: 2.8vw;
    }

    .end-message {
        line-height: 8vw;
        border: 0.8vw solid black;
        margin: 0vw;
        height: 10vw;
        font-size: 5vw;
        box-sizing: border-box;
    }

}

/* phone view */
@media only screen and (max-width: 600px) {

}